services:
  - type: web
    name: alunex-pulse-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5001
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRE
        value: 7d
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
